@section Tabbar {
<a class="mdl-layout__tab is-active">MidWood Camp Roll</a>
}

<div style="text-align: center;">
  <img title="pic" alt="pic" src="~/images/pic.jpg">
  <h3>欢迎来到新日暮里</h3>
  <h4>Who's the boss of this gym</h4>
  <br>
  <a asp-controller="Roll" asp-action="Index">进♂入健身房</a>
</div>

